build/images
packer_cache
build/ubuntu-1804-server-hyperv
build/manifest.json
build/manifest.json.lock
bin
.vagrant
cache
nexus-vagrant
*.retry
src/ryezone-labs/**
src/roles/**
galaxy_roles
*.retry
*.crt
*.csr
*.pem
*.key
.rnd
build/certificates